<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://code.alibabatech.com/schema/dubbo 
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="cn.bestsign.file.client"/>
	
    <dubbo:application name="file-service-test" />

    <dubbo:registry protocol="zookeeper" address="${zk.address}" />

    <!--uncomment this if you want to test dubbo's monitor -->
    <!-- <dubbo:monitor protocol="registry"/> -->

    <dubbo:annotation package="cn.bestsign.ssqian.sign.test,cn.bestsign.file.client" />

    <!-- 定义全局的配置，测试中@Reference的check=false不起作用，在这里配置 -->
    <dubbo:consumer check="false" />

</beans>