<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huashi.common.user.dao.UserBalanceLogMapper" >
  <resultMap id="BaseResultMap" type="com.huashi.common.user.domain.UserBalanceLog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="platform_type" property="platformType" jdbcType="INTEGER" />
    <result column="balance" property="balance" jdbcType="DOUBLE" />
    <result column="pay_source" property="paySource" jdbcType="INTEGER" />
    <result column="pay_type" property="payType" jdbcType="INTEGER" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="from_user_id" property="fromUserId" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="total_price" property="totalPrice" jdbcType="DOUBLE" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, platform_type, balance, pay_source, pay_type, order_no, from_user_id, 
    price, total_price, remark, operator, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from hspaas_user_balance_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from hspaas_user_balance_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.huashi.common.user.domain.UserBalanceLog" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into hspaas_user_balance_log (user_id, platform_type, balance, 
      pay_source, pay_type, order_no, 
      from_user_id, price, total_price, 
      remark, operator, create_time
      )
    values (#{userId,jdbcType=INTEGER}, #{platformType,jdbcType=INTEGER}, #{balance,jdbcType=DOUBLE}, 
      #{paySource,jdbcType=INTEGER}, #{payType,jdbcType=INTEGER}, #{orderNo,jdbcType=VARCHAR}, 
      #{fromUserId,jdbcType=INTEGER}, #{price,jdbcType=DOUBLE}, #{totalPrice,jdbcType=DOUBLE}, 
      #{remark,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.huashi.common.user.domain.UserBalanceLog" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into hspaas_user_balance_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="platformType != null" >
        platform_type,
      </if>
      <if test="balance != null" >
        balance,
      </if>
      <if test="paySource != null" >
        pay_source,
      </if>
      <if test="payType != null" >
        pay_type,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="fromUserId != null" >
        from_user_id,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="totalPrice != null" >
        total_price,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="operator != null" >
        operator,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="platformType != null" >
        #{platformType,jdbcType=INTEGER},
      </if>
      <if test="balance != null" >
        #{balance,jdbcType=DOUBLE},
      </if>
      <if test="paySource != null" >
        #{paySource,jdbcType=INTEGER},
      </if>
      <if test="payType != null" >
        #{payType,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="fromUserId != null" >
        #{fromUserId,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=DOUBLE},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huashi.common.user.domain.UserBalanceLog" >
    update hspaas_user_balance_log
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="platformType != null" >
        platform_type = #{platformType,jdbcType=INTEGER},
      </if>
      <if test="balance != null" >
        balance = #{balance,jdbcType=DOUBLE},
      </if>
      <if test="paySource != null" >
        pay_source = #{paySource,jdbcType=INTEGER},
      </if>
      <if test="payType != null" >
        pay_type = #{payType,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="fromUserId != null" >
        from_user_id = #{fromUserId,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="totalPrice != null" >
        total_price = #{totalPrice,jdbcType=DOUBLE},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huashi.common.user.domain.UserBalanceLog" >
    update hspaas_user_balance_log
    set user_id = #{userId,jdbcType=INTEGER},
      platform_type = #{platformType,jdbcType=INTEGER},
      balance = #{balance,jdbcType=DOUBLE},
      pay_source = #{paySource,jdbcType=INTEGER},
      pay_type = #{payType,jdbcType=INTEGER},
      order_no = #{orderNo,jdbcType=VARCHAR},
      from_user_id = #{fromUserId,jdbcType=INTEGER},
      price = #{price,jdbcType=DOUBLE},
      total_price = #{totalPrice,jdbcType=DOUBLE},
      remark = #{remark,jdbcType=VARCHAR},
      operator = #{operator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  	  <select id="findCount" resultType="java.lang.Integer">
		select count(0) from hspaas_user_balance_log where 1 = 1
		<if test="userId != null and userId != ''">
			and user_id = #{userId}
		</if>
		<if test="platformType != null and platformType != ''">
			and platform_type = #{platformType}
		</if>
	</select>
	
	<select id="findListBoss" resultMap="BaseResultMap">
		select * from hspaas_user_balance_log where 1 = 1
		<if test="userId != null and userId != ''">
			and user_id = #{userId}
		</if>
		<if test="platformType != null and platformType != ''">
			and platform_type = #{platformType}
		</if>
		order by id desc limit #{start},#{end}
	</select>
</mapper>