@charset "utf-8";
/* CSS Document */

/*标题上面的搜索，查询*/
.item_search { float: right; display: inline; margin: 5px 10px 0px 0px; color: #4c4c4c; font-weight: normal;}
.item_search .select_box { float: left; display: inline; margin-right: 10px;}
.item_search .select_box label { float: left; display: inline;}
.item_search .select_box .select { float: left; display: inline; min-width: 158px;}
.item_search input[type='button'],.item_box .item_search input[type='submit'] { background: #2fb26a; width: 60px; height: 30px; line-height: 30px; font-size: 14px; font-weight: bold; color: #fff; border: none;}
.item_search input[type='button']:hover,.item_box .item_search input[type='submit']:hover { background: #40C57C;}

/*消费数据*/
.chart_box { border: 1px #ccc solid;}
.chart_box .tit { background: #f3f4f5; height: 40px; border-bottom: 1px #ccc solid; line-height: 40px; font-size: 14px;}
.chart_box h1 { font-size: 14px; font-weight: bold; color: #333; width: 150px; border-right: 1px #ccc solid; float: left; display: inline; text-align: center;}
.chart_box .tit ul { float: left; display: inline;}
.chart_box .tit ul li { float: left; display: inline;font-weight: bold; border-right: 1px #ccc solid; text-align: center; padding: 0px 35px; color: #888; cursor:pointer; }
.chart_box .tit ul li.active,.chart_box .tit ul li:hover { background: #fff; height: 41px;}
.chart_box .tit ul li.active { color: #2fb26a; }
.chart_box .ctn { margin: 10px;}


/*消息页面*/
.msg_box { border:1px #d1d5de solid; margin-bottom: 20px; overflow: hidden;}
.msg_list { height: 50px; line-height: 50px;  overflow:hidden; cursor: pointer;}
.msg_list.unfold { height: auto;}
.msg_box h2 { font-size: 14px; font-weight: bold; color: #333;}
.msg_box p { margin-bottom: 10px; line-height: 24px; display: none;}
.msg_box p.txt { font-size: 12px; color: #333;}
.msg_box p.date { font-size: 14px; color: #888; margin-bottom: 0px;}
.msg_box p a.del { background: url("../images/icon.png") 0 0 no-repeat; width: 16px; height: 18px; position: absolute; bottom: 20px; right: 20px; display: block;}
.msg_list { position: relative;}
.msg_list.read h1,.msg_list.read p,.msg_list.read p a { color: #a2a2a2 }

.msg_txt { background: url("../images/news_icon_1.png") 0 19px no-repeat; padding-left: 30px;}
.msg_sort { margin-bottom: 15px; overflow: hidden;}
.msg_sort input[type='button'] { width: 89px; height: 32px; border:1px #ccc solid; background: #fff; color: #636363; font-size: 13px; float: left; display: inline; margin-right: -1px; }
.msg_sort input[type='button'].current { background: #319acc; color: #fff; border-color: #319acc;}

.msg_box table { width: 100%;}
.msg_box table th,.msg_box table td { padding-left: 10px; text-align: left;}
.msg_box table th { height: 30px; border-bottom:1px #d1d5de solid; line-height: 30px; font-size: 14px; color: #454951; background: #f6f8fa;}
.msg_box table td { border-bottom:1px #d1d5de solid;}
.msg_box table td.date { font-size: 14px; font-weight: bold; color: #333; line-height: 50px;}
.msg_box table td.icon { background: url("../images/news_drop_down.png") center 21px no-repeat; vertical-align: middle; min-width: 15px; text-align: right; padding: 0 1%; position: relative;}
.msg_box table tr:hover { background: #f9f9fa;}
.msg_box table tr.read .msg_txt { background: url("../images/news_icon.png") 0 17px no-repeat;;}
.msg_box table tr.read h1,.msg_box table tr.read p,.msg_box table tr.read p a,.msg_box table tr.read td.date { color: #a2a2a2 }
.msg_box table tr.read td.date { font-weight: normal;}
.msg_box table tr.unfold td.date { vertical-align: top;}
.msg_box table tr.unfold td.icon { background: none;}
.msg_box table tr.unfold td.icon p { display: block; }

/*分页*/
.page_box { float: right; display: inline;}
.page_box ul li { font-size: 14px; float: left; display: inline; margin: 0px 5px;}
.page_box ul li a { color: #333;}
.page_box ul li.active a { color: #60abff}









