<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huashi.sms.passage.dao.SmsPassageGroupDetailMapper">
	<resultMap id="BaseResultMap"
		type="com.huashi.sms.passage.domain.SmsPassageGroupDetail">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="group_id" property="groupId" jdbcType="INTEGER" />
		<result column="passage_id" property="passageId" jdbcType="INTEGER" />
		<result column="province_code" property="provinceCode"
			jdbcType="INTEGER" />
		<result column="route_type" property="routeType" jdbcType="TINYINT" />
		<result column="priority" property="priority" jdbcType="INTEGER" />
		<result column="cmcp" property="cmcp" jdbcType="INTEGER" />
		<association property="smsPassage" column="passage_id"
			javaType="com.huashi.sms.passage.domain.SmsPassage">
			<id column="passage_id" property="id" />
			<result column="name" property="name" />
			<result column="passage_cmcp" property="cmcp" />
			<result column="status" property="status" />
			<result column="type" property="type" />
			<result column="access_code" property="accessCode" />
			<result column="mobile_size" property="mobileSize" />
			<result column="packets_size" property="packetsSize" />
			<result column="code" property="code" />
			<result column="sign_mode" property="signMode" />
		</association>
	</resultMap>
	<sql id="Base_Column_List">
		id, group_id, passage_id, province_code, route_type,
		priority, cmcp
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from sms_passage_group_detail
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		sms_passage_group_detail
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.huashi.sms.passage.domain.SmsPassageGroupDetail">
		<selectKey resultType="java.lang.Integer" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into sms_passage_group_detail (group_id, passage_id,
		province_code,
		route_type, priority, cmcp
		)
		values
		(#{groupId,jdbcType=INTEGER}, #{passageId,jdbcType=INTEGER},
		#{provinceCode,jdbcType=INTEGER},
		#{routeType,jdbcType=TINYINT},
		#{priority,jdbcType=INTEGER}, #{cmcp,jdbcType=INTEGER}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.huashi.sms.passage.domain.SmsPassageGroupDetail">
		<selectKey resultType="java.lang.Integer" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into sms_passage_group_detail
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="groupId != null">
				group_id,
			</if>
			<if test="passageId != null">
				passage_id,
			</if>
			<if test="provinceCode != null">
				province_code,
			</if>
			<if test="routeType != null">
				route_type,
			</if>
			<if test="priority != null">
				priority,
			</if>
			<if test="cmcp != null">
				cmcp,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="groupId != null">
				#{groupId,jdbcType=INTEGER},
			</if>
			<if test="passageId != null">
				#{passageId,jdbcType=INTEGER},
			</if>
			<if test="provinceCode != null">
				#{provinceCode,jdbcType=INTEGER},
			</if>
			<if test="routeType != null">
				#{routeType,jdbcType=TINYINT},
			</if>
			<if test="priority != null">
				#{priority,jdbcType=INTEGER},
			</if>
			<if test="cmcp != null">
				#{cmcp,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.huashi.sms.passage.domain.SmsPassageGroupDetail">
		update sms_passage_group_detail
		<set>
			<if test="groupId != null">
				group_id = #{groupId,jdbcType=INTEGER},
			</if>
			<if test="passageId != null">
				passage_id = #{passageId,jdbcType=INTEGER},
			</if>
			<if test="provinceCode != null">
				province_code = #{provinceCode,jdbcType=INTEGER},
			</if>
			<if test="routeType != null">
				route_type = #{routeType,jdbcType=TINYINT},
			</if>
			<if test="priority != null">
				priority = #{priority,jdbcType=INTEGER},
			</if>
			<if test="cmcp != null">
				cmcp = #{cmcp,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.huashi.sms.passage.domain.SmsPassageGroupDetail">
		update
		sms_passage_group_detail
		set group_id = #{groupId,jdbcType=INTEGER},
		passage_id = #{passageId,jdbcType=INTEGER},
		province_code =
		#{provinceCode,jdbcType=INTEGER},
		route_type =
		#{routeType,jdbcType=TINYINT},
		priority = #{priority,jdbcType=INTEGER},
		cmcp = #{cmcp,jdbcType=INTEGER}
		where id = #{id,jdbcType=INTEGER}
	</update>

	<select id="findPassageByGroupId" resultMap="BaseResultMap">
		select d.*,s.cmcp passage_cmcp,s.name,s.status, s.type, s.access_code,
		s.mobile_size, s.packets_size, s.code, s.sign_mode, s.status
		 from sms_passage_group_detail d,sms_passage s where d.passage_id = s.id and
		d.group_id = #{0} order by d.priority asc
	</select>
	<delete id="deleteByGroupId">
		delete from sms_passage_group_detail where group_id =
		#{0}
	</delete>

	<select id="getGroupIdByPassageId" resultType="java.lang.Integer">
		select distinct
		group_id from sms_passage_group_detail where passage_id =
		#{passageId}
	</select>
	
	<update id="updateGroupPassageId">
		update sms_passage_group_detail set passage_id = #{passageId} where group_id = #{groupId}
	</update>
	
</mapper>