<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huashi.sms.task.dao.SmsMtTaskMapper">
	<resultMap id="BaseResultMap" type="com.huashi.sms.task.domain.SmsMtTask">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="sid" property="sid" jdbcType="BIGINT" />
		<result column="app_type" property="appType" jdbcType="TINYINT" />
		<result column="mobile" property="mobile" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="ext_number" property="extNumber" jdbcType="VARCHAR" />
		<result column="attach" property="attach" jdbcType="VARCHAR" />
		<result column="callback" property="callback" jdbcType="VARCHAR" />
		<result column="fee" property="fee" jdbcType="INTEGER" />
		<result column="return_fee" property="returnFee" jdbcType="INTEGER" />
		<result column="submit_url" property="submitUrl" jdbcType="VARCHAR" />
		<result column="ip" property="ip" jdbcType="VARCHAR" />
		<result column="submit_type" property="submitType" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="create_unixtime" property="createUnixtime" jdbcType="BIGINT" />
		<result column="process_status" property="processStatus" jdbcType="INTEGER" />
		<result column="approve_status" property="approveStatus" jdbcType="INTEGER" />
		<result column="error_mobiles" property="errorMobiles" jdbcType="VARCHAR" />
		<result column="repeat_mobiles" property="repeatMobiles" jdbcType="VARCHAR" />
		<result column="black_mobiles" property="blackMobiles" jdbcType="VARCHAR" />
		<result column="final_content" property="finalContent" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="process_time" property="processTime" jdbcType="TIMESTAMP" />
		<result column="force_actions" property="forceActions" jdbcType="VARCHAR" />
		<result column="message_template_id" property="messageTemplateId" jdbcType="BIGINT" />
		<result column="forbidden_words" property="forbiddenWords" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, user_id, sid, app_type, mobile, content, ext_number, attach,
		callback, fee, return_fee, submit_url,
		ip, submit_type, create_time, create_unixtime, process_status, approve_status,
		error_mobiles, repeat_mobiles, black_mobiles,
		final_content, remark, process_time,message_template_id,force_actions, forbidden_words
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from sms_mt_task
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from sms_mt_task
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.huashi.sms.task.domain.SmsMtTask">
		<selectKey resultType="java.lang.Long" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into sms_mt_task (user_id, sid, app_type,
		mobile, content, ext_number,
		attach, callback, fee, return_fee,
		submit_url, ip, submit_type, create_time,
		create_unixtime, process_status, approve_status,
		error_mobiles, repeat_mobiles, black_mobiles, final_content, remark,
		process_time,message_template_id,force_actions, forbidden_words)
		values (#{userId,jdbcType=INTEGER}, #{sid,jdbcType=BIGINT},
		#{appType,jdbcType=TINYINT},
		#{mobile,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{extNumber,jdbcType=VARCHAR},
		#{attach,jdbcType=VARCHAR}, #{callback,jdbcType=VARCHAR},
		#{fee,jdbcType=INTEGER}, #{returnFee,jdbcType=INTEGER},
		#{submitUrl,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR},#{submitType,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
		#{createUnixtime,jdbcType=BIGINT}, #{processStatus,jdbcType=INTEGER},
		#{approveStatus,jdbcType=INTEGER},
		#{errorMobiles,jdbcType=VARCHAR}, #{repeatMobiles,jdbcType=VARCHAR}, #{blackMobiles,jdbcType=VARCHAR},
		#{finalContent,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR},
		#{processTime,jdbcType=TIMESTAMP},#{messageTemplateId,jdbcType=BIGINT},
		#{forceActions,jdbcType=VARCHAR}, #{forbiddenWords,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.huashi.sms.task.domain.SmsMtTask">
		<selectKey resultType="java.lang.Long" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into sms_mt_task
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				user_id,
			</if>
			<if test="sid != null">
				sid,
			</if>
			<if test="appType != null">
				app_type,
			</if>
			<if test="mobile != null">
				mobile,
			</if>
			<if test="content != null">
				content,
			</if>
			<if test="extNumber != null">
				ext_number,
			</if>
			<if test="attach != null">
				attach,
			</if>
			<if test="callback != null">
				callback,
			</if>
			<if test="fee != null">
				fee,
			</if>
			<if test="returnFee != null">
				return_fee,
			</if>
			<if test="submitUrl != null">
				submit_url,
			</if>
			<if test="ip != null">
				ip,
			</if>
			<if test="submitType != null">
				submit_type,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="createUnixtime != null">
				create_unixtime,
			</if>
			<if test="processStatus != null">
				process_status,
			</if>
			<if test="approveStatus != null">
				approve_status,
			</if>
			<if test="errorMobiles != null">
				error_mobiles,
			</if>
			<if test="repeatMobiles != null">
				repeat_mobiles,
			</if>
			<if test="blackMobiles != null">
				black_mobiles,
			</if>
			<if test="finalContent != null">
				final_content,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="processTime != null">
				process_time,
			</if>
			<if test="messageTemplateId != null" >
		        message_template_id,
		    </if>
		    <if test="forceActions != null" >
		        force_actions,
		    </if>
		    <if test="forbiddenWords != null" >
		        forbidden_words,
		    </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="sid != null">
				#{sid,jdbcType=BIGINT},
			</if>
			<if test="appType != null">
				#{appType,jdbcType=TINYINT},
			</if>
			<if test="mobile != null">
				#{mobile,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				#{content,jdbcType=VARCHAR},
			</if>
			<if test="extNumber != null">
				#{extNumber,jdbcType=VARCHAR},
			</if>
			<if test="attach != null">
				#{attach,jdbcType=VARCHAR},
			</if>
			<if test="callback != null">
				#{callback,jdbcType=VARCHAR},
			</if>
			<if test="fee != null">
				#{fee,jdbcType=INTEGER},
			</if>
			<if test="returnFee != null">
				#{returnFee,jdbcType=INTEGER},
			</if>
			<if test="submitUrl != null">
				#{submitUrl,jdbcType=VARCHAR},
			</if>
			<if test="ip != null">
				#{ip,jdbcType=VARCHAR},
			</if>
			<if test="submitType != null">
				#{submitType,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUnixtime != null">
				#{createUnixtime,jdbcType=BIGINT},
			</if>
			<if test="processStatus != null">
				#{processStatus,jdbcType=INTEGER},
			</if>
			<if test="approveStatus != null">
				#{approveStatus,jdbcType=INTEGER},
			</if>
			<if test="errorMobiles != null">
				#{errorMobiles,jdbcType=VARCHAR},
			</if>
			<if test="repeatMobiles != null">
				#{repeatMobiles,jdbcType=VARCHAR},
			</if>
			<if test="blackMobiles != null">
				#{blackMobiles,jdbcType=VARCHAR},
			</if>
			<if test="finalContent != null">
				#{finalContent,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="processTime != null">
				#{processTime,jdbcType=TIMESTAMP},
			</if>
			<if test="messageTemplateId != null" >
	        	#{messageTemplateId,jdbcType=BIGINT},
	      	</if>
	      	<if test="forceActions != null" >
		        #{forceActions,jdbcType=VARCHAR},
		    </if>
		    <if test="forbiddenWords != null" >
		        #{forbiddenWords,jdbcType=VARCHAR},
		    </if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.huashi.sms.task.domain.SmsMtTask">
		update sms_mt_task
		<set>
			<if test="userId != null">
				user_id = #{userId,jdbcType=INTEGER},
			</if>
			<if test="sid != null">
				sid = #{sid,jdbcType=BIGINT},
			</if>
			<if test="appType != null">
				app_type = #{appType,jdbcType=TINYINT},
			</if>
			<if test="mobile != null">
				mobile = #{mobile,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				content = #{content,jdbcType=VARCHAR},
			</if>
			<if test="extNumber != null">
				ext_number = #{extNumber,jdbcType=VARCHAR},
			</if>
			<if test="attach != null">
				attach = #{attach,jdbcType=VARCHAR},
			</if>
			<if test="callback != null">
				callback = #{callback,jdbcType=VARCHAR},
			</if>
			<if test="fee != null">
				fee = #{fee,jdbcType=INTEGER},
			</if>
			<if test="returnFee != null">
				return_fee = #{returnFee,jdbcType=INTEGER},
			</if>
			<if test="submitUrl != null">
				submit_url = #{submitUrl,jdbcType=VARCHAR},
			</if>
			<if test="ip != null">
				ip = #{ip,jdbcType=VARCHAR},
			</if>
			<if test="submitType != null">
				submit_type = #{submitType,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUnixtime != null">
				create_unixtime = #{createUnixtime,jdbcType=BIGINT},
			</if>
			<if test="processStatus != null">
				process_status = #{processStatus,jdbcType=INTEGER},
			</if>
			<if test="approveStatus != null">
				approve_status = #{approveStatus,jdbcType=INTEGER},
			</if>
			<if test="errorMobiles != null">
				error_mobiles = #{errorMobiles,jdbcType=VARCHAR},
			</if>
			<if test="repeatMobiles != null">
				repeat_mobiles = #{repeatMobiles,jdbcType=VARCHAR},
			</if>
			<if test="blackMobiles != null">
				black_mobiles = #{blackMobiles,jdbcType=VARCHAR},
			</if>
			<if test="finalContent != null">
				final_content = #{finalContent,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="processTime != null">
				process_time = #{processTime,jdbcType=TIMESTAMP},
			</if>
			<if test="messageTemplateId != null" >
		        message_template_id = #{messageTemplateId,jdbcType=BIGINT},
		    </if>
		    <if test="forceActions != null" >
		        force_actions = #{forceActions,jdbcType=VARCHAR},
		    </if>
		    <if test="forbiddenWords != null" >
		    	forbidden_words = #{forbiddenWords,jdbcType=VARCHAR},
		    </if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.huashi.sms.task.domain.SmsMtTask">
		update sms_mt_task
		set user_id = #{userId,jdbcType=INTEGER},
		sid = #{sid,jdbcType=BIGINT},
		app_type = #{appType,jdbcType=TINYINT},
		mobile = #{mobile,jdbcType=VARCHAR},
		content = #{content,jdbcType=VARCHAR},
		ext_number = #{extNumber,jdbcType=VARCHAR},
		attach = #{attach,jdbcType=VARCHAR},
		callback = #{callback,jdbcType=VARCHAR},
		fee = #{fee,jdbcType=INTEGER},
		return_fee = #{returnFee,jdbcType=INTEGER},
		submit_url = #{submitUrl,jdbcType=VARCHAR},
		ip = #{ip,jdbcType=VARCHAR},
		submit_type = #{submitType,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		create_unixtime = #{createUnixtime,jdbcType=BIGINT},
		process_status = #{processStatus,jdbcType=INTEGER},
		approve_status = #{approveStatus,jdbcType=INTEGER},
		error_mobiles = #{errorMobiles,jdbcType=VARCHAR},
		repeat_mobiles = #{repeatMobiles,jdbcType=VARCHAR},
		black_mobiles = #{blackMobiles,jdbcType=VARCHAR},
		final_content = #{finalContent,jdbcType=VARCHAR},
		remark = #{remark,jdbcType=VARCHAR},
		process_time = #{processTime,jdbcType=TIMESTAMP},
		message_template_id = #{messageTemplateId,jdbcType=BIGINT},
		force_actions = #{forceActions,jdbcType=VARCHAR},
		forbidden_words = #{forbiddenWords,jdbcType=VARCHAR}
		where id = #{id,jdbcType=BIGINT}
	</update>

	<select id="findList" resultMap="BaseResultMap">

		select <include refid="Base_Column_List" /> 
		from sms_mt_task p where 1=1 
		<if test="searchType == 0">
			and p.approve_status = 0
		</if>
		<if test="searchType == 1">
			and p.approve_status != 0
		</if>
		<if test="userId != null and userId > -1">
			and p.user_id = #{userId}
		</if>
		<if test="mobile != null and mobile != ''">
			and p.mobile like '${mobile}%'
		</if>
		<if test="content != null and content != ''">
			and p.content like '%${content}%'
		</if>
		<if test="processStatus != null and processStatus > -1">
			and p.process_status = #{processStatus}
		</if>
		<if test="approveStatus != null and approveStatus > -1">
			and p.approve_status = #{approveStatus}
		</if>
		<if test="startDate != null and startDate != ''">
			and p.create_unixtime &gt;=#{startDate}
		</if>
		<if test="endDate != null and endDate != ''">
			and p.create_unixtime &lt;=#{endDate}
		</if>
		<if test="sid != null and sid > 0">
			and p.sid = #{sid}
		</if>
		<if test="templateId != null and templateId > 0">
			and p.message_template_id = #{templateId}
		</if>
		order by p.create_time desc limit #{start},#{end}
	</select>

	<select id="findCount" resultType="java.lang.Integer">
		select count(0) from sms_mt_task p where 1 = 1 
		<if test="searchType == 0">
			and p.approve_status = 0
		</if>
		<if test="searchType == 1">
			and p.approve_status != 0
		</if>
		<if test="userId != null and userId > -1">
			and p.user_id = #{userId}
		</if>
		<if test="mobile != null and mobile != ''">
			and p.mobile like '${mobile}%'
		</if>
		<if test="content != null and content != ''">
			and p.content like '%${content}%'
		</if>
		<if test="processStatus != null and processStatus > -1">
			and p.process_status = #{processStatus}
		</if>
		<if test="approveStatus != null and approveStatus > -1">
			and p.approve_status = #{approveStatus}
		</if>
		<if test="startDate != null and startDate != ''">
			and p.create_unixtime &gt;=#{startDate}
		</if>
		<if test="endDate != null and endDate != ''">
			and p.create_unixtime &lt;=#{endDate}
		</if>
		<if test="sid != null and sid > 0">
			and p.sid = #{sid}
		</if>
		<if test="templateId != null and templateId > 0">
			and p.message_template_id = #{templateId}
		</if>
		
	</select>

	<update id="updateContent">
		update sms_mt_task set final_content = #{content}
		where sid = #{sid}
	</update>

	<select id="selectBySid" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from sms_mt_task
		where sid = #{sid,jdbcType=BIGINT} limit 1
	</select>

	<insert id="batchInsert" parameterType="List">
		insert into sms_mt_task (user_id, sid, app_type, mobile,
		content,
		ext_number, attach, callback, fee, return_fee,
		submit_url, ip, submit_type, create_time, create_unixtime,
		process_status, approve_status, error_mobiles, repeat_mobiles, black_mobiles,
		final_content, remark, process_time,
		message_template_id,force_actions, forbidden_words)
		values

		<foreach collection="list" item="task" index="index"
			separator=",">
			(#{task.userId,jdbcType=INTEGER}, 
			#{task.sid,jdbcType=BIGINT},
			#{task.appType,jdbcType=TINYINT},
			#{task.mobile,jdbcType=VARCHAR},
			#{task.content,jdbcType=VARCHAR},
			#{task.extNumber,jdbcType=VARCHAR},
			#{task.attach,jdbcType=VARCHAR},
			#{task.callback,jdbcType=VARCHAR},
			#{task.fee,jdbcType=INTEGER}, 
			#{task.returnFee,jdbcType=INTEGER}, 
			#{task.submitUrl,jdbcType=VARCHAR},
			#{task.ip,jdbcType=VARCHAR},
			#{task.submitType,jdbcType=INTEGER}, 
			#{task.createTime,jdbcType=TIMESTAMP},
			#{task.createUnixtime,jdbcType=BIGINT},
			#{task.processStatus,jdbcType=INTEGER},
			#{task.approveStatus,jdbcType=INTEGER},
			#{task.errorMobiles,jdbcType=VARCHAR},
			#{task.repeatMobiles,jdbcType=VARCHAR},
			#{task.blackMobiles,jdbcType=VARCHAR},
			#{task.finalContent,jdbcType=VARCHAR},
			#{task.remark,jdbcType=VARCHAR},
			#{task.processTime,jdbcType=TIMESTAMP},
			#{task.messageTemplateId,jdbcType=BIGINT},
			#{task.forceActions,jdbcType=VARCHAR},
			#{task.forbiddenWords,jdbcType=VARCHAR})
		</foreach>
	</insert>

	<update id="updateApproveStatus">
		update sms_mt_task set approve_status = #{approveStatus} where id = #{id}
	</update>
	
	<update id="updateApproveStatusBySid">
		update sms_mt_task set approve_status = #{approveStatus} where sid = #{sid}
	</update>
	
	<select id="selectWaitDealTaskCount" resultType="java.lang.Integer">
		select count(0) from sms_mt_task p where approve_status = 0
	</select>
	
	<select id="selectWaitDealTaskList" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> 
		from sms_mt_task p where approve_status = 0
	</select>
	
	<select id="selectTaskByIds" resultMap="BaseResultMap" parameterType="List">
		select <include refid="Base_Column_List" /> from sms_mt_task p where 1 = 1 and id in
		
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}  
        </foreach>
         
	</select>
	
</mapper>