<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huashi.vs.record.dao.RecordMapper" >
  <resultMap id="BaseResultMap" type="com.huashi.vs.record.domain.Record" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="err_msg" property="errMsg" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="dis_play_num" property="disPlayNum" jdbcType="VARCHAR" />
    <result column="send_status" property="sendStatus" jdbcType="VARCHAR" />
    <result column="receive_status" property="receiveStatus" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, mobile, user_id, content, err_msg, type, dis_play_num, send_status, receive_status, 
    create_time, modify_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from vs_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from vs_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.huashi.vs.record.domain.Record" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into vs_record (id, mobile, user_id, 
      content, err_msg, type, 
      dis_play_num, send_status, receive_status, 
      create_time, modify_time)
    values (#{id,jdbcType=INTEGER}, #{mobile,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, 
      #{content,jdbcType=VARCHAR}, #{errMsg,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{disPlayNum,jdbcType=VARCHAR}, #{sendStatus,jdbcType=VARCHAR}, #{receiveStatus,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.huashi.vs.record.domain.Record" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into vs_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="errMsg != null" >
        err_msg,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="disPlayNum != null" >
        dis_play_num,
      </if>
      <if test="sendStatus != null" >
        send_status,
      </if>
      <if test="receiveStatus != null" >
        receive_status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=INTEGER},
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="errMsg != null" >
        #{errMsg,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="disPlayNum != null" >
        #{disPlayNum,jdbcType=VARCHAR},
      </if>
      <if test="sendStatus != null" >
        #{sendStatus,jdbcType=VARCHAR},
      </if>
      <if test="receiveStatus != null" >
        #{receiveStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huashi.vs.record.domain.Record" >
    update vs_record
    <set >
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="errMsg != null" >
        err_msg = #{errMsg,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="disPlayNum != null" >
        dis_play_num = #{disPlayNum,jdbcType=VARCHAR},
      </if>
      <if test="sendStatus != null" >
        send_status = #{sendStatus,jdbcType=VARCHAR},
      </if>
      <if test="receiveStatus != null" >
        receive_status = #{receiveStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huashi.vs.record.domain.Record" >
    update vs_record
    set mobile = #{mobile,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      err_msg = #{errMsg,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      dis_play_num = #{disPlayNum,jdbcType=VARCHAR},
      send_status = #{sendStatus,jdbcType=VARCHAR},
      receive_status = #{receiveStatus,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
    <select id="getCountByUserId" resultType="java.lang.Integer" parameterType="java.util.Map">
		select count(*) from vs_record where user_id = #{userId} and type=#{type}
		<if test="startDate != null">
			and date(create_time) &gt;=#{startDate}
		</if>
		<if test="endDate != null">
			and date(create_time) &lt;=#{endDate}
		</if>
		<if test="phoneNumber != null">
			and mobile like CONCAT('%',#{phoneNumber},'%')
		</if>
	</select>

	<select id="findPageListByUserId" resultMap="BaseResultMap" parameterType="java.util.Map">
		select * from vs_record where user_id = #{userId} and type=#{type}
		<if test="startDate != null">
			and date(create_time) &gt;=#{startDate}
		</if>
		<if test="endDate != null">
			and date(create_time) &lt;=#{endDate}
		</if>
		<if test="phoneNumber != null">
			and mobile like CONCAT('%',#{phoneNumber},'%')
		</if>
		order by id desc
		limit #{pageRecord} offset #{startPage}
	</select>
	
	<select id="findMobileRecord" resultMap="BaseResultMap" parameterType="java.util.Map">
		select * from vs_record where user_id = #{userId} 
		<if test="mobile != null">
			and mobile =#{mobile}
		</if>
		order by create_time desc limit 1
	</select>
</mapper>