<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huashi.sms.template.dao.MessageTemplateMapper">
	<resultMap id="BaseResultMap"
		type="com.huashi.sms.template.domain.MessageTemplate">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="app_type" property="appType" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="approve_time" property="approveTime" jdbcType="TIMESTAMP" />
		<result column="approve_user" property="approveUser" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="notice_mode" property="noticeMode" jdbcType="INTEGER" />
		<result column="mobile" property="mobile" jdbcType="VARCHAR" />
		<result column="regex_value" property="regexValue" jdbcType="VARCHAR" />
		<result column="submit_interval" property="submitInterval"
			jdbcType="INTEGER" />
		<result column="limit_times" property="limitTimes" jdbcType="INTEGER" />
		<result column="white_word" property="whiteWord" jdbcType="VARCHAR" />
		<result column="route_type" property="routeType" jdbcType="INTEGER" />
		<result column="priority" property="priority" jdbcType="INTEGER" />
		<result column="ext_number" property="extNumber" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, user_id, content, status, app_type, create_time, approve_time,
		approve_user, remark, notice_mode, mobile, regex_value, submit_interval, limit_times,
		white_word, route_type, priority, ext_number
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from sms_message_template
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from sms_message_template
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.huashi.sms.template.domain.MessageTemplate">
		<selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into sms_message_template (user_id, content, status,
		app_type, create_time, approve_time,
		approve_user, remark, notice_mode,
		mobile, regex_value, submit_interval,
		limit_times, white_word, route_type,
		priority, ext_number)
		values (#{userId,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR},
		#{status,jdbcType=INTEGER}, #{appType,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{approveTime,jdbcType=TIMESTAMP},
		#{approveUser,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR},
		#{noticeMode,jdbcType=INTEGER}, #{mobile,jdbcType=VARCHAR}, #{regexValue,jdbcType=VARCHAR}, #{submitInterval,jdbcType=INTEGER},
		#{limitTimes,jdbcType=INTEGER}, #{whiteWord,jdbcType=VARCHAR},
		#{routeType,jdbcType=INTEGER}, #{priority,jdbcType=INTEGER}), #{extNumber,jdbcType=VARCHAR}
	</insert>
	<insert id="insertSelective" parameterType="com.huashi.sms.template.domain.MessageTemplate">
		<selectKey resultType="java.lang.Long" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into sms_message_template
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				user_id,
			</if>
			<if test="content != null">
				content,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="appType != null">
				app_type,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="approveTime != null">
				approve_time,
			</if>
			<if test="approveUser != null">
				approve_user,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="noticeMode != null">
				notice_mode,
			</if>
			<if test="mobile != null">
				mobile,
			</if>
			<if test="regexValue != null">
				regex_value,
			</if>
			<if test="submitInterval != null">
				submit_interval,
			</if>
			<if test="limitTimes != null">
				limit_times,
			</if>
			<if test="whiteWord != null">
				white_word,
			</if>
			<if test="routeType != null">
				route_type,
			</if>
			<if test="priority != null">
				priority,
			</if>
			<if test="extNumber != null">
				ext_number,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="content != null">
				#{content,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="appType != null">
				#{appType,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="approveTime != null">
				#{approveTime,jdbcType=TIMESTAMP},
			</if>
			<if test="approveUser != null">
				#{approveUser,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="noticeMode != null">
				#{noticeMode,jdbcType=INTEGER},
			</if>
			<if test="mobile != null">
				#{mobile,jdbcType=VARCHAR},
			</if>
			<if test="regexValue != null">
				#{regexValue,jdbcType=VARCHAR},
			</if>
			<if test="submitInterval != null">
				#{submitInterval,jdbcType=INTEGER},
			</if>
			<if test="limitTimes != null">
				#{limitTimes,jdbcType=INTEGER},
			</if>
			<if test="whiteWord != null">
				#{whiteWord,jdbcType=VARCHAR},
			</if>
			<if test="routeType != null">
				#{routeType,jdbcType=INTEGER},
			</if>
			<if test="priority != null">
				#{priority,jdbcType=INTEGER},
			</if>
			<if test="extNumber != null">
				#{extNumber,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.huashi.sms.template.domain.MessageTemplate">
		update sms_message_template
		<set>
			<if test="userId != null">
				user_id = #{userId,jdbcType=INTEGER},
			</if>
			<if test="content != null">
				content = #{content,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="appType != null">
				app_type = #{appType,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="approveTime != null">
				approve_time = #{approveTime,jdbcType=TIMESTAMP},
			</if>
			<if test="approveUser != null">
				approve_user = #{approveUser,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="noticeMode != null">
				notice_mode = #{noticeMode,jdbcType=INTEGER},
			</if>
			<if test="mobile != null">
				mobile = #{mobile,jdbcType=VARCHAR},
			</if>
			<if test="regexValue != null">
				regex_value = #{regexValue,jdbcType=VARCHAR},
			</if>
			<if test="submitInterval != null">
				submit_interval = #{submitInterval,jdbcType=INTEGER},
			</if>
			<if test="limitTimes != null">
				limit_times = #{limitTimes,jdbcType=INTEGER},
			</if>
			<if test="whiteWord != null">
				white_word = #{whiteWord,jdbcType=VARCHAR},
			</if>
			<if test="routeType != null">
				route_type = #{routeType,jdbcType=INTEGER},
			</if>
			<if test="priority != null">
				priority = #{priority,jdbcType=INTEGER},
			</if>
			<if test="extNumber != null">
				ext_number = #{extNumber,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.huashi.sms.template.domain.MessageTemplate">
		update sms_message_template
		set user_id = #{userId,jdbcType=INTEGER},
		content = #{content,jdbcType=VARCHAR},
		status = #{status,jdbcType=INTEGER},
		app_type = #{appType,jdbcType=INTEGER},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		approve_time = #{approveTime,jdbcType=TIMESTAMP},
		approve_user = #{approveUser,jdbcType=VARCHAR},
		remark = #{remark,jdbcType=VARCHAR},
		notice_mode = #{noticeMode,jdbcType=INTEGER},
		mobile = #{mobile,jdbcType=VARCHAR},
		regex_value = #{regexValue,jdbcType=VARCHAR},
		submit_interval = #{submitInterval,jdbcType=INTEGER},
		limit_times = #{limitTimes,jdbcType=INTEGER},
		white_word = #{whiteWord,jdbcType=VARCHAR},
		route_type = #{routeType,jdbcType=INTEGER},
		priority = #{priority,jdbcType=INTEGER},
		ext_number = #{extNumber,jdbcType=VARCHAR}
		where id = #{id,jdbcType=BIGINT}
	</update>

	<select id="getCountByUserId" resultType="java.lang.Integer"
		parameterType="java.util.Map">
		select count(*) from sms_message_template where user_id = #{userId}
		<if test="status != null">
			and status = #{status}
		</if>
		<if test="content != null">
			and content like CONCAT('%',#{content},'%')
		</if>
	</select>

	<select id="findPageListByUserId" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from sms_message_template where user_id = #{userId}
		<if test="status != null">
			and status = #{status}
		</if>
		<if test="content != null">
			and content like CONCAT(#{content},'%')
		</if>
		order by create_time desc
		limit #{pageRecord} offset #{startPage}
	</select>

	<select id="findList" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from sms_message_template where 1=1
		<if test="keyword != null and keyword != ''">
			and content like CONCAT('%', #{keyword},'%')
		</if>
		<if test="status != null and status != ''">
			and status = #{status}
		</if>
		<if test="userId != null and userId != ''">
			and user_id = #{userId}
		</if>
		order by id desc limit #{start},#{end}
	</select>

	<select id="findCount" resultType="java.lang.Integer"
		parameterType="java.util.Map">
		select count(id) from sms_message_template where 1=1
		<if test="keyword != null and keyword != ''">
			and content like CONCAT('%',#{keyword},'%')
		</if>
		<if test="status != null and status != ''">
			and status = #{status}
		</if>
		<if test="userId != null and userId != ''">
			and user_id = #{userId}
		</if>
	</select>

	<select id="findAvaiableByUserId" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sms_message_template where user_id = #{userId} and status = 1 order by priority
	</select>

	<select id="findAvaiableByUserIdAndType" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sms_message_template where user_id = #{userId} and status = 1 and
		route_type = #{type}
	</select>

	<select id="findAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sms_message_template where status = 1
	</select>
</mapper>