<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huashi.bill.bill.dao.ConsumptionReportMapper">
	<resultMap id="BaseResultMap" type="com.huashi.bill.bill.domain.ConsumptionReport">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="amount" property="amount" jdbcType="INTEGER" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="record_date" property="recordDate" jdbcType="DATE" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, type, user_id, amount, remark, record_date, create_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from hspaas_consumption_report
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		hspaas_consumption_report
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.huashi.bill.bill.domain.ConsumptionReport">
		<selectKey resultType="java.lang.Integer" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into hspaas_consumption_report (type, user_id, amount,
		remark,
		record_date, create_time
		)
		values (#{type,jdbcType=INTEGER},
		#{userId,jdbcType=INTEGER},
		#{amount,jdbcType=INTEGER},
		#{remark,jdbcType=VARCHAR}, DATE_SUB(current_date,INTERVAL 1 DAY),
		now())
	</insert>
	<insert id="insertSelective" parameterType="com.huashi.bill.bill.domain.ConsumptionReport">
		<selectKey resultType="java.lang.Integer" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into hspaas_consumption_report
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="type != null">
				type,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="amount != null">
				amount,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="recordDate != null">
				record_date,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="type != null">
				#{type,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="amount != null">
				#{amount,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="recordDate != null">
				#{recordDate,jdbcType=DATE},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.huashi.bill.bill.domain.ConsumptionReport">
		update hspaas_consumption_report
		<set>
			<if test="type != null">
				type = #{type,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				user_id = #{userId,jdbcType=INTEGER},
			</if>
			<if test="amount != null">
				amount = #{amount,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="recordDate != null">
				record_date = #{recordDate,jdbcType=DATE},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.huashi.bill.bill.domain.ConsumptionReport">
		update
		hspaas_consumption_report
		set type = #{type,jdbcType=INTEGER},
		user_id =
		#{userId,jdbcType=INTEGER},
		amount = #{amount,jdbcType=INTEGER},
		remark
		= #{remark,jdbcType=VARCHAR},
		record_date =
		#{recordDate,jdbcType=DATE},
		create_time =
		#{createTime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>

	<select id="selectByUserIdAndType" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from hspaas_consumption_report
		where user_id = #{userId} and type =
		#{platformType}
		and date_sub(curdate(), INTERVAL #{limitSize} DAY)
		&lt;= record_date
		order by id asc
	</select>

	<insert id="batchInsert" parameterType="java.util.List">
		insert into hspaas_consumption_report (type, user_id, amount,
		remark,record_date, create_time) values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.type,jdbcType=INTEGER}, #{item.userId,jdbcType=INTEGER}, #{item.amount,jdbcType=INTEGER},
			#{item.remark,jdbcType=VARCHAR}, DATE_SUB(current_date,INTERVAL 1
			DAY), now())
		</foreach>
	</insert>


</mapper>