<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huashi.common.passage.dao.PassageTemplateDetailMapper">
	<resultMap id="BaseResultMap"
		type="com.huashi.common.passage.domain.PassageTemplateDetail">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="template_id" property="templateId" jdbcType="INTEGER" />
		<result column="call_type" property="callType" jdbcType="TINYINT" />
		<result column="url" property="url" jdbcType="VARCHAR" />
		<result column="params" property="params" jdbcType="VARCHAR" />
		<result column="position" property="position" jdbcType="VARCHAR" />
		<result column="result_format" property="resultFormat"
			jdbcType="VARCHAR" />
		<result column="success_code" property="successCode" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, template_id, call_type, url, params, result_format, success_code
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from hspaas_passage_template_detail
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from hspaas_passage_template_detail
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert"
		parameterType="com.huashi.common.passage.domain.PassageTemplateDetail">
		<selectKey resultType="java.lang.Integer" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into hspaas_passage_template_detail (template_id, call_type,
		url,
		params, result_format, success_code,position
		)
		values (#{templateId,jdbcType=INTEGER}, #{callType,jdbcType=TINYINT},
		#{url,jdbcType=VARCHAR},
		#{params,jdbcType=VARCHAR}, #{resultFormat,jdbcType=VARCHAR}, #{successCode,jdbcType=VARCHAR},#{position,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective"
		parameterType="com.huashi.common.passage.domain.PassageTemplateDetail">
		<selectKey resultType="java.lang.Integer" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into hspaas_passage_template_detail
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="templateId != null">
				template_id,
			</if>
			<if test="callType != null">
				call_type,
			</if>
			<if test="url != null">
				url,
			</if>
			<if test="params != null">
				params,
			</if>
			<if test="resultFormat != null">
				result_format,
			</if>
			<if test="successCode != null">
				success_code,
			</if>
			<if test="position != null">
				position
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="templateId != null">
				#{templateId,jdbcType=INTEGER},
			</if>
			<if test="callType != null">
				#{callType,jdbcType=TINYINT},
			</if>
			<if test="url != null">
				#{url,jdbcType=VARCHAR},
			</if>
			<if test="params != null">
				#{params,jdbcType=VARCHAR},
			</if>
			<if test="resultFormat != null">
				#{resultFormat,jdbcType=VARCHAR},
			</if>
			<if test="successCode != null">
				#{successCode,jdbcType=VARCHAR},
			</if>
			<if test="position != null">
				#{position,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.huashi.common.passage.domain.PassageTemplateDetail">
		update hspaas_passage_template_detail
		<set>
			<if test="templateId != null">
				template_id = #{templateId,jdbcType=INTEGER},
			</if>
			<if test="callType != null">
				call_type = #{callType,jdbcType=TINYINT},
			</if>
			<if test="url != null">
				url = #{url,jdbcType=VARCHAR},
			</if>
			<if test="params != null">
				params = #{params,jdbcType=VARCHAR},
			</if>
			<if test="resultFormat != null">
				result_format = #{resultFormat,jdbcType=VARCHAR},
			</if>
			<if test="successCode != null">
				success_code = #{successCode,jdbcType=VARCHAR},
			</if>
			<if test="position != null">
				position = #{successCode,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.huashi.common.passage.domain.PassageTemplateDetail">
		update hspaas_passage_template_detail
		set template_id = #{templateId,jdbcType=INTEGER},
		call_type = #{callType,jdbcType=TINYINT},
		url = #{url,jdbcType=VARCHAR},
		params = #{params,jdbcType=VARCHAR},
		result_format = #{resultFormat,jdbcType=VARCHAR},
		success_code = #{successCode,jdbcType=VARCHAR}
		position = #{position,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	<select id="findListByTemplateId" resultMap="BaseResultMap">
		select * from hspaas_passage_template_detail where template_id = #{0}
	</select>
	
	<delete id="deleteByTemplateId">
		delete from hspaas_passage_template_detail where template_id = #{0}
	</delete>
</mapper>